@import 'reset';
@import 'variabes/globals';
@import 'themes/dark';
@import 'themes/normal';

.app {
	font: var(--font-m);

	background: var(--bg-color);
	color: var(--primary-color);

	min-height: 100vh;
}
