.app.dark {
	--bg-color: rgb(0, 0, 77);
	--inverted-bg-color: rgb(255, 255, 255);

	--primary-color: rgb(0, 202, 0);
	--secondary-color: rgb(0, 234, 0);
	--inverted-primary-color: rgb(0, 91, 147);
	--inverted-secondary-color: rgb(0, 157, 255);
}
